In [ ]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn import preprocessing

In [ ]:
df=pd.read_csv('naivebayes.csv')
df

  Chills runny nose head ache fever Flu
0      Y          N      Mild     Y   N
1      Y          Y        No     N   Y
2      Y          N    Strong     Y   Y
3      N          Y      Mild     Y   Y
4      N          N        No     N   N
5      N          Y    Strong     Y   Y
6      N          Y    Strong     N   N
7      Y          Y      Mild     Y   Y

In [ ]:
x1= df.iloc[:,0]
x2= df.iloc[:,1]
x3= df.iloc[:,2]
x4= df.iloc[:,3]
y=df.iloc[:,4]

In [ ]:
le = preprocessing.LabelEncoder()
x1= le.fit_transform(x1)
x2= le.fit_transform(x2)
x3= le.fit_transform(x3)
x4= le.fit_transform(x4)
y=le.fit_transform(y)
X = pd.DataFrame(list(zip(x1,x2,x3,x4)))
X

   0  1  2  3
0  1  0  0  1
1  1  1  1  0
2  1  0  2  1
3  0  1  0  1
4  0  0  1  0
5  0  1  2  1
6  0  1  2  0
7  1  1  0  1

In [ ]:
model = MultinomialNB()
model.fit(X,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
predicted = model.predict([[1,0,0,1]]) 
print("Predicted Value:",model.predict([[1,0,0,1]]))
print(model.predict_proba([[1,0,0,1]]))

Predicted Value: [1]
[[0.32432432 0.67567568]]